body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
	padding: 0px 1rem;
	}
	
	.content{
	min-height: calc(100vh - 64px - 70px);
	padding: 1.5rem 0px;
	}

	.card{display: flex;flex-direction: column;}
	.card-content{flex: 1 1 auto;}

.btn{
	display: flex;
text-align: center;
justify-content: center;
}

	.list{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 1rem;
	}

	.goback{
		z-index: 2;
		position: absolute;
		top: 6rem;
		right: 2rem;
	}

	img, iframe{
		max-width: 100%;
	}

	iframe{
		width: 600px;
		height: 350px;
	}